{% extends 'app/base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="text-center my-5">
    <form method="post">
        {% csrf_token %}
        <div class="align-items-center">
            {% render_field form.title class="form-control" placeholder="キーワードから探す" %}
            <button class="btn btn-primary mt-2" type="submit">検索</button>
        </div>
    </form>
</div>


{% if keyword %}
<h2 class="lead text-center">「{{ keyword }}」の検索結果</h2>
{% endif %}

<div class="border py-4 mt-3">
    {% if fetch_data %}
    <div class="list">
        {% for data in fetch_data %}
        <img src="{{ data.largeImageURL }}">
        {% endfor %}

    </div>
    {% else %}
    <h1 class="text-center my-5 ">Not Found</h1>
    {% endif %}
</div>


{% endblock content %}